<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - School_Timetable</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/School_Timetable.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/schoolSubjects.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/schoolClasses.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img class="logo" src="~/src/SchoolLogo.png" alt="logo" />
        </a>
        <nav>
            <div class="nav-links">
                <ul>
                    <li class="link">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="link">
                        <a asp-area="" asp-controller="SchoolSubjects" asp-action="Index">Subjects</a>
                    </li>
                    <li class="link">
                        <a asp-area="" asp-controller="Professors" asp-action="Index">Professors</a>
                    </li>
                    <li class="link">
                        <a asp-area="" asp-controller="SchoolClasses" asp-action="Index">Classes</a>
                    </li>
                    <li class="link">
                        <a asp-area="" asp-controller="ClassProfessor" asp-action="Index">Assign/Unassign professors to classes</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 Made by <a href="https://www.linkedin.com/in/delia-nechita/" target="_blank" title="Delia's website">Delia-Elena Nechita</a></p>
    </footer>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
