

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Planner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/School_Timetable.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/createDeletePages.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/schoolSubjects.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/schoolClasses.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/professor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loginRegister.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/accountInfo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/allUsers.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img class="logo" src="~/src/SchoolLogo.png" alt="logo" />
        </a>
        <nav>
            <div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="nav-links-unauthenticated">
                        <li class="link-unauthenticated" id="login-link">
                            <a asp-area="" asp-controller="Account" asp-action="Login" id="loginButton">Log in</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav-links">
                        @if (User.IsInRole("User"))
                        {
                            <li class="link">
                                <a asp-area="" asp-controller="SchoolSubjects" asp-action="Index">Subjects</a>
                            </li>
                            <li class="link">
                                <a asp-area="" asp-controller="Professors" asp-action="Index">Professors</a>
                            </li>
                            <li class="link">
                                <a asp-area="" asp-controller="SchoolClasses" asp-action="Index">Classes</a>
                            </li>
                            <li class="link link-userInfo">
                                <a class="userNavbar"><b>|</b><span>@User.Identity.Name</span></a>
                                <ul class="dropdown-settings">
                                    <li>
                                        <a asp-area="" asp-controller="Account" asp-action="Info" class="accountInfo">Account Info</a>
                                    </li>
                                    <li>
                                        <form asp-area="" asp-controller="Account" asp-action="Logout">
                                            <button>Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="link">
                                <a asp-area="" asp-controller="Account" asp-action="AllUsers">All Users</a>
                            </li>
                            <li class="link link-userInfo">
                                <a class="userNavbar"><b>|</b><span>@User.Identity.Name</span></a>
                                <ul class="dropdown-settings">
                                    <li>
                                        <form asp-area="" asp-controller="Account" asp-action="Logout">
                                            <button>Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                }
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <div class="footer-wrapper">
            <p>&copy; 2024 Made by Delia Nechita</p>
            <div class="socialMedia-icons">
                <a href="https://github.com/nechitadelia" target="_blank" title="Github account">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/delia-nechita/" target="_blank" title="Linkedin account">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="~/js/HelperFunctions.js" defer></script>
    <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Navbar.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
