@model School_Timetable.ViewModels.LoginViewModel

<div class="container mt-5">
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Log in to your account</h1>

			<form method="post" asp-action="Login">
				<div class="mb-3">
					<label class="form-label" asp-for="EmailAddress">Email Address</label>
					<input type="email" asp-for="EmailAddress" class="form-control" id="EmailAddress" />
					<span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="Password">Password</label>
					<input type="password" asp-for="Password" class="form-control" id="Password" />
					<span asp-validation-for="@Model.Password" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Log in</button>
					<a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
				</div>
			</form>

			<div>
				<p>View site as:</p>

				<div>
					<button id="admin-login">Admin</button>
				</div>
				<div>
					<button id="user1-login">User 1</button>
				</div>
				<div>
					<button id="user2-login">User 2</button>
				</div>
			</div>

		</div>
	</div>
</div>

<script src="~/js/Login.js" asp-append-version="true"></script>