@using School_Timetable.ViewModels

@model AppUserViewModel

<div class="homepage-container">
    <input type="hidden" asp-for="Id" value="@Model.Id" readonly />

    <div class="homepage-headings">
        @if (User.Identity.IsAuthenticated)
        {
            <h1>Welcome, @Model.SchoolName!</h1>

            <h2>
                Here you can easily organise and manage all the classes and professors of the school,
                getting ready for a new academic year in just a few clicks!
            </h2>
        }
    </div>
</div>
