<div class="homepage-container">
    <div class="homepage-headings">
        <h1>Welcome to the school planner!</h1>

        <h2>
            Here you can easily organise and manage all the classes and professors of the school, 
            getting ready for a new academic year in just a few clicks!
        </h2>
    </div>
</div>
