@using School_Timetable.Models.Entities

@{
    var professors = ViewData["professors"] as List<string>;
}

@model List<School_Timetable.Models.Entities.SchoolSubject>

<div class="subjects-container">
    <h1>Subjects</h1>
    <div class="table-container">
        <table class="subjects-table">
            <thead>
                <tr>
                    <th class="first-column">Subject name</th>
                    <th class="last-column">Professors</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model)
                {
                    <tr>
                        @if (professors[subject.Id - 1] == "")
                        {
                            <td class="subject-name">@subject.Name</td>
                            <td class="text-danger">No professors</td>
                        }
                        else
                        {
                            <td class="subject-name">@subject.Name</td>
                            <td class="subject-professor">@professors[subject.Id - 1]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
