@using School_Timetable.ViewModels
@using School_Timetable.Models

@{
    var professors = ViewData["professors"] as List<List<Professor>>;
}

@model List<SchoolSubject>

<div class="subjects-container">
    <h1>Subjects</h1>
    <div class="table-container">
        <table class="subjects-table">
            <thead>
                <tr>
                    <th class="first-column">Subject name</th>
                    <th class="last-column">Professors</th>
                </tr>
            </thead>
            <tbody>
                @for(int i = 0; i < professors.Count; i++)
                {
                    <tr>
                        @if (professors[i] == null || professors[i].Count == 0)
                        {
                            <td class="subject-name">@Model[i].Name</td>
                            <td class="text-danger">No professors</td>
                        }
                        else
                        {
                            <td class="subject-name">@Model[i].Name</td>
                            <td class="subject-professor">
                                <ul>
                                    @for (int j = 0; j < professors[i].Count; j++)
                                    {
                                        <li><span>@professors[i][j].LastName</span> @(" " + professors[i][j].FirstName)</li>
                                    }
                                </ul>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
