@using School_Timetable.ViewModels

@model List<SchoolSubjectViewModel>

<div class="subjects-container">
    <h1>Subjects</h1>
    <div class="table-container">
        <table class="subjects-table">
            <thead>
                <tr>
                    <th class="first-column">Subject name</th>
                    <th class="last-column">Professors</th>
                </tr>
            </thead>
            <tbody>
                @for(int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        @if (Model[i].Professors == null || Model[i].Professors.Count == 0)
                        {
                            <td class="subject-name">@Model[i].Name</td>
                            <td class="text-danger">No professors</td>
                        }
                        else
                        {
                            <td class="subject-name">@Model[i].Name</td>
                            <td class="subject-professor">
                                <ul>
                                    @for (int j = 0; j < Model[i].Professors.Count; j++)
                                    {
                                        <li><span>@Model[i].Professors[j].LastName</span> @(" " + Model[i].Professors[j].FirstName)</li>
                                    }
                                </ul>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
