.delete-user-button {
    border-radius: 70px;
    padding: 7px 20px;
    border: none;
    margin-right: 15px;
}

.delete-button-user {
    margin-bottom: 100px;
}

.noexistingUsers,
.noUsersFound {
    color: #b7394b;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ffcdd2;
    border-right: 2px solid #ffcdd2;
}