.homepage-container {
    width: 100vw;
    height: calc(100vh - 150px);
    overflow: hidden;
    background-image: url('../src/background1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 0;
}

.homepage-headings {
    position: relative;
    top: 40%;
    transform: translateY(-100%);
    text-align: center;
    width: 100%;
}

.homepage-headings h1 {
    padding: 70px 0;
    font-weight: 500;
    font-size: 4em;
}

.homepage-headings h2 {
    font-size: 1.5em;
    font-weight: 200;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.5em;
    margin-bottom: 40px;
}

.homepage-headings h1,
.homepage-headings h2 {
    color: #fff;
}

#registerButton {
    font-weight: 500;
    font-size: 1em;
    padding: 12px 35px;
    background-color: #fc9131;
    border-radius: 70px;
    color: #00426d;
    text-decoration: none;
    transition: 200ms;
}

#registerButton:hover {
    background-color: #c06e25;
}

#title-authenticatedUser {
    line-height: 1.5em;
    font-size: 3.7em;
}

#title-authenticatedUser span {
    display: block;
}