.subjects-container {
    margin-bottom: 100px;
    width: 100%;
}

.subjects-container form {
    width: 100%; 
}

.subjects-buttons-container {
    width: 80%;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.subjects-buttons-container a {
    border-radius: 70px;
    padding: 10px 30px;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.list-table {
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.list-table thead {
    background-color: #a3bac8;
}

.list-table thead th {
    color: #00426d;
    padding: 17px 10px 17px 30px;
    font-size: 1em;
    font-weight: bold;
}

.first-column {
    border-right: 2px solid #a3bac8;
    width: 25%;
}

.list-table tbody tr:nth-of-type(even) {
    background-color: #f4f6f8;
}

.list-table tbody td {
    padding: 15px 10px 15px 30px;
}

.subject-name {
    color: #00426d;
    width: 25%;
    font-weight: bold;
}

.subject-professor {
    color: #6e7082;
}

.list-table tbody ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.list-table tbody ul li {
    padding: 2px 0;
}

.list-table span {
    font-weight: 700;
}

.noexistingSubjects {
    color: #b7394b;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ffcdd2;
    border-right: 2px solid #ffcdd2;
}