.subjects-container {
    padding-bottom: 100px;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.subjects-table {
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.subjects-table thead {
    background-color: #a3bac8;
}

.subjects-table thead th {
    color: #002248;
    padding: 17px 10px 17px 30px;
    font-size: 1em;
    font-weight: bold;
}

.first-column {
    border-right: 2px solid #a3bac8;
    width: 25%;
}

.subjects-table tbody tr:nth-of-type(even) {
    background-color: #f4f6f8;
}

.subjects-table tbody td {
    padding: 15px 10px 15px 30px;
}

.subject-name {
    color: #002248;
    width: 25%;
    font-weight: bold;
}

.subject-professor {
    color: #6e7082;
}