@using School_Timetable.Models.Entities

@{
}

@model School_Timetable.Models.Entities.ClassProfessor

<h1>Assign professors to classes</h1>

<form method="post">
	<div class="mt-3">
		<p>You are about to assign the existing professors to all the classes, depending on the subject that they teach. Are you sure you want to do this?</p>
	</div>

	<div class="mt-3">
		<button type="submit" class="btn btn-warning" asp-action="Assign" asp-controller="ClassProfessor">Assign professors to classes</button>
	</div>

	<div class="mt-3">
		<button type="submit" class="btn btn-danger" asp-action="UnAssignAll" asp-controller="ClassProfessor">Unassign all professors from all classes</button>
	</div>

	<div class="mt-3">
		<a class="btn btn-dark text-white text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Back to homepage</a>
	</div>
</form>