@using School_Timetable.Models.Entities

@{
	var schoolSubjects = ViewData["schoolSubjects"] as List<SchoolSubject>;
}

@model School_Timetable.Models.ProfessorViewModel

<h1>Add Professor</h1>

<form method="post" id="createProfessorform">
	<div class="mt-3">
		<label for="firstName" class="form-label">First Name</label>
		<input type="text" class="form-control" asp-for="FirstName" id="firstName" />
	</div>

	<div class="mt-3">
		<label for="lastName" class="form-label">Last Name</label>
		<input type="text" class="form-control" asp-for="LastName" id="lastName" />
	</div>

	<div class="mt-3">
		<select asp-for="SchoolSubjectName">
			@foreach (var sub in schoolSubjects)
			{
				<option>@sub.Name</option>
			}
		</select>
	</div>
</form>

<div class="mt-3">
	<button type="submit" class="btn btn-primary" id="createProfessorButton">Add Professor</button>
</div>

<script src="~/js/CreateProfessor.js" asp-append-version="true"></script>