@using School_Timetable.Models.Entities

@model School_Timetable.Models.Entities.Professor

@if (Model is null)
{
	<p>No professor was found with this Id</p>
}
else
{
	<div class="form-container">
		<div class="back-button-container">
			<a class="back-button" asp-area="" asp-controller="Professors" asp-action="Index">Back to list</a>
		</div>

		<h1>Edit Professor</h1>

		<form method="post" id="editProfessorform">
			<div class="hidden-elem">
				<input asp-for="Id" value="@Model.Id" readonly />
			</div>

			<div class="mt-3">
				<label for="firstName" class="form-label">First Name</label>
				<input type="text" class="form-control" asp-for="FirstName" id="firstName" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div class="mt-3">
				<label for="lastName" class="form-label">Last Name</label>
				<input type="text" class="form-control" asp-for="LastName" id="lastName" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>

			<div class="mt-3">
				<label class="form-label">Subject</label>
				<input type="text" class="form-control" asp-for="@Model.ProfessorSubject.Name" readonly />
			</div>
		</form>

		<div class="save-delete-buttons-professor">
			<div>
				<button type="submit" class="edit-button" id="editProfessorButton" asp-controller="Professors" asp-action="Edit">Save</button>
			</div>
		</div>
	</div>
}

<script src="~/js/EditProfessor.js" asp-append-version="true"></script>