@using School_Timetable.Models.Entities

@{
	var professorSubject = ViewData["professorSubject"] as SchoolSubject;
}


@model School_Timetable.Models.Entities.Professor


<div class="form-container">
	<div class="back-button-container">
		<a class="back-button" asp-area="" asp-controller="Professors" asp-action="Index">Back to list</a>
	</div>

	<h1>Edit Professor</h1>

	<form method="post" id="editProfessorform">
		<div class="hidden-elem">
			<input asp-for="Id" value="@Model.Id" readonly />
		</div>

		<div class="mt-3">
			<label for="firstName" class="form-label">First Name</label>
			<input type="text" class="form-control" asp-for="FirstName" id="firstName" />
		</div>

		<div class="mt-3">
			<label for="lastName" class="form-label">Last Name</label>
			<input type="text" class="form-control" asp-for="LastName" id="lastName" />
		</div>

		<div class="mt-3">
			<label class="form-label">Subject</label>
			<input type="text" class="form-control" asp-for="@professorSubject.Name" readonly />
		</div>
	</form>

	<div class="save-delete-buttons-professor">
		<div>
			<button type="submit" class="edit-button" id="saveProfessorButton">Save</button>
		</div>

		<div>
@* 			<button type="submit"
					class="delete-button"
					id="deleteProfessorButton"
					asp-controller="Professors"
					asp-action="Delete"
					asp-route-id="@Model.Id"
					id="deleteProfessorButton">
				Delete
			</button> *@

			@Html.ActionLink("Delete", "Delete", new { professorId = Model.Id }, new { @class = "delete-button delete-professor-button", id = "deleteProfessorButton" })

		</div>

	</div>

</div>


<script src="~/js/EditProfessor.js" asp-append-version="true"></script>