@using School_Timetable.ViewModels

@model ClassCollectionsViewModel

<div class="graduate-container">
    <img src="~/src/graduation.png" alt="graduation" />
    <p>You are about to graduate all classes for a new school year.</p>
    <p>Are you sure you want to do this?</p>

    <form method="post" id="graduationClassform">
        <div>
            <button type="submit" class="btn-warning" id="graduateClassesButton" asp-controller="SchoolClasses" asp-action="GraduateClasses">Confirm</button>
        </div>
    </form>
</div>

<script src="~/js/SchoolClasses.js" asp-append-version="true"></script>