@using School_Timetable.Models.Entities

@model School_Timetable.Models.ClassCollectionsViewModel

<div class="schoolClass-container">
    <div>
        <p>You are about to graduate all classes.</p>
    </div>
    <div>
        <p>Are you sure you want to do this?</p>
    </div>

    <form method="post" id="deleteClassform">
        <div class="graduate-classes-button">
            <div>
                <button type="submit" class="graduate-button" id="graduateClassesButton" asp-controller="SchoolClasses" asp-action="GraduateClasses">Confirm</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/SchoolClasses.js" asp-append-version="true"></script>