@using School_Timetable.Models.Entities

@{
    var classesSubjects = ViewData["classesSubjects"] as List<List<SchoolSubject>>;
    var classProfessors = ViewData["classProfessors"] as List<List<string>>;
}

@model List<School_Timetable.Models.Entities.SchoolClass>

<h1>Classes</h1>

<div class="schoolClass-buttons">
    <button class="btn btn-success mt-3">
        <a class="text-white text-decoration-none"
           asp-area=""
           asp-controller="SchoolClasses"
           asp-action="Create">Add Class</a>
    </button>

    <button class="btn btn-danger mt-3">
        <a class="text-white text-decoration-none" 
            asp-area=""
            asp-controller="SchoolClasses"
            asp-action="Delete">Delete Class</a>
    </button>
</div>


@for (int i = 0; i < Model.Count; i++)
{
    <table class="schoolClass-table">
        <thead class="schoolClass-tableHead">
            <tr>
                <th colspan="2">@Model[i].YearOfStudy @Model[i].ClassLetter</th>
            </tr>
        </thead>
        <tbody class="schoolClass-tableBody">
            @for (int j = 0; j < classesSubjects[i].Count; j++)
            {
                <tr>
                    <td class="schoolClass-subject">@classesSubjects[i][j].Name</td>
                    @if(classProfessors[i][j] != "")
                    {
                        <td>@classProfessors[i][j]</td>
                    }
                    else
                    {
                        <td class="text-danger">No professor assigned</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
