@using School_Timetable.Models.Entities

@{
    var classesSubjects = ViewData["classesSubjects"] as List<List<SchoolSubject>>;
}

@model List<School_Timetable.Models.Entities.SchoolClass>

<h1>Classes</h1>

<div class="schoolClass-buttons">
    <button class="btn btn-success mt-3 text-white text-decoration-none" 
            asp-controller="SchoolClasses" 
            asp-action="Create">
        Add Class
    </button>

    <button class="btn btn-danger mt-3">
        <a class="text-white text-decoration-none" 
            asp-area=""
            asp-controller="SchoolClasses"
            asp-action="Delete">Delete Class</a>
    </button>
</div>


@for (int i = 0; i < Model.Count; i++)
{
    <table class="schoolClass-table">
        <thead class="schoolClass-tableHead">
            <tr>
                <th colspan="2">@Model[i].YearOfStudy @Model[i].ClassLetter</th>
            </tr>
        </thead>
        <tbody class="schoolClass-tableBody">
            @foreach (var subject in classesSubjects[i])
            {
                <tr>
                    <td class="schoolClass-subject">@subject.Name</td>
                    <td class="text-danger">No professor assigned</td>
                </tr>
            }
        </tbody>
    </table>
}
